*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: rgba($background-primary, 1);
}

body {
  background: rgba($background-primary, 1);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: $font-primary-color;
}

.container {
  min-height: 90vh;
}

main {
  height: 100%;
}

.container-pd {
  margin-top: 4rem;
  padding: 2rem 4rem;
}
