.card {
  border-radius: 15px;
  height: 300px;
  background-color: $background-th;
  overflow: hidden;
  text-align: center;

  &:hover {
    cursor: pointer;
    border: 2px solid $highlight;
  }

  &__cover {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  &__title {
    margin-top: 1rem;
    font-size: 2.2rem;
  }
  &__description {
    margin-top: 0.6rem;
    font-size: 1.4rem;
  }
}

.links-info {
  font-size: 1.3rem;
  margin-top: 0.6rem;
}
