.popular,
.user__lists {
  & h1 {
    font-size: 2.6rem;
  }
}

.user__lists {
  margin-top: 2rem;
  min-height: 40vh;
}

.res__grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 4rem;
  margin-top: 4rem;
  list-style: none;
  height: 100%;
}
