.input__default {
  & input:-webkit-autofill {
    background-color: $high_dark !important;
  }

  & input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $font-primary-color;
    -webkit-box-shadow: 0 0 0px 1000px $high_dark inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.error__msg {
  color: $error;
}

.flex {
  display: flex;
  align-items: center;
}

.back {
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover {
    color: $highlight;
  }

  &__title {
    font-size: 2rem;
    margin-left: 1rem;
  }

  &__arrow {
    font-size: 1.8rem;
  }
}

.selected {
  border: 2px solid $highlight;
}

.empty {
  font-size: 2rem;
  margin-top: 2rem;
}

.button-y-animation {
  transition: transform 0.4s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px rgba(#000, 0.4);
  }
}
